.header-nav-list{
display: flex;
list-style: none;
gap: 60px;
align-items: center;
font-size: 16px;
line-height: 19px;

}
.header-nav-language {
display: flex;
align-items: center;
gap: 5px;
color: #fff;
font-size: 24px;
font-style: normal;
font-weight: 300;
}
.header-nav-language::before {
    background-image: url(/src/images/логтип.png);
    gap: 100px;
}
.header {
    flex-shrink: 0;
    background: #012D63;
    color: #FFF;
}
.header-p {
    display: flex;
    color: #FFF;
}
.header:hover {
    color: #C7C7C7;
}
.bakground {
    background-image: url(/src/images/фон\ хедера.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 858px;
    flex-shrink: 0;
}
.colorawe {
    color: #FFF;
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.dream {
    margin-left: 10px;
    color: #fff;
    font-family: 'Playfair Display',serif;
    font-size: 73px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 76px 0 10px;
}
.Buy {
    color: #fff;
    display: inline-block;
    border-radius: 3px;
  padding: 12px;
  text-decoration: none;
    border: none;
    font-size: 27px;
    line-height: 1;
    font-weight: 100px;
    background: #8E32C6;
}
