/*header-nav*/
.header-nav-list{
display: flex;
list-style: none;
gap: 60px;
font-size: 24px;
font-weight: 400;
align-items: center;
}
.header-conteiner::before{
  background-image: url(/src/images/logo.png),url(/src/images/С&R.svg);
  width: 160px;
height: 120px;
flex-shrink: 0;
}
.header-conteiner {
    width: 1110px;
    height: 93px;
margin: 0 auto;
}
.header-nav-language {
display: flex;
align-items: center;
gap: 5px;
font-size: 24px;
font-weight: 300;
}
.header-nav-language::before {
 background-image: url(/src/images/logo.png);
}
.header {
    background: #012D63;
  
 
}
.header-nav-list li:hover {
    color: #fff;
    font-weight: 400;
}
/*header-2*/
.header-p {
    display: flex;
    color: #FFF;
}
.bakground {
    background-image: url(/src/images/fon-header.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 858px;
 padding-top: 95px;
 padding-bottom: 18px;
}
  .bakground_conteiner {
    width: 1007px;
    height: 93px;
margin: 0 auto;
  }
  .bakground_conteiner::before {
    background-image: url(/src/images/logo.png);
  background-image: url(/src/images/С&R.svg);
  }
  .p {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    border-radius: 15px;
  }
.colorawe {
    color: #FFF;
font-family: 'Playfair Displa'y;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.dream {
    margin-left: 10px;
    color: #fff;
    font-family: 'Playfair Display',serif;
    font-size: 73px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 76px 0 10px;
}
.buy {
    color: #fff;
    display: inline-block;
    border-radius: 3px;
  padding: 12px;
  margin-top: 30px;
  text-decoration: none;
    border: none;
    font-size: 27px;
    line-height: 1;
    font-weight: 100px;
    background: #8E32C6;
}
