
.fon {
    background-image: url(/src/images/фон\ main\ 1.png);
    width: 1440px;
    height: 606px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.header-conteiner {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.text {
    color: #fff;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bakground {
    background-image: url(/src/images/фон\ хедера.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 18px;
}
.bakground_conteiner {
width: 1007px;
margin: 0 auto;
}
.fon {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none; 
   
}
.fon-class{
    width: 50px;
    margin: 100px;
    padding: 100px;
    border-radius: 4px;
}
.fon-class:nth-child(1)::after {
    background-image: url(/src/images/Звёзды\ 1.png);
  }
  .fon-class:nth-child(2)::before {
    background-image: url(/img/car.webp);
  }
  .fon-class:nth-child(3)::after {
    background-image: url(/img/car.webp);
  }