/*advantages-cards*/
.advantages {
  background: #021635;
  padding: 105px 0;
  box-shadow: radial-gradient(at 0% 30% purple 10px,purple 40%);
}
.advantages-conteiner {
  max-width: 1110px;
  margin: 0 auto;
  border: 2px solid #8e32c6;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
}
.header-conteiner {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.text {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*Reviews*/
.rewiews-container {
  display: flex;
  background-repeat: no-repeat;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 25px;
  flex-direction: column;
}
.flowers {
  display: inline;
  background-repeat: no-repeat;
padding-bottom: 245px;
padding-top: 0 auto;
}
.reviews-text {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
}
.review-card:nth-child(1) {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  background: linear-gradient(135deg, #00E5E6 7.29%,#00A8F7 2626.04%,#9A76F9 63.50%,#CC5EC2 100% );
 box-shadow:  0px 0px 30px -13px #533978, 0px 14px 0px -5px #7B54B2;

}
.review-card:nth-child(2) {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
box-shadow: 0px 0px 30px -13px #61337C, 0px 14px 0px -5px #9159B1;
}
.review-card:nth-child(3) {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
box-shadow: 0px 0px 30px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}
.review-card{
  width: 255px;
  height: 292px;
font-size: 24px;
align-items: center;
padding: 50px 15px 30px;
}
.reviews {
  background: #021635;
  margin: 0 auto;
  background-repeat: no-repeat;
  width: 1440px;
  height: 550px;
  flex-shrink: 0;
}
.reviews-section {
  display: flex;
  background-position: left;
  background-image: url(/src/images/flowers.png);
  background-repeat: no-repeat;
}
.user{
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}
.user-info {
  padding: 10px 15px 30px;
}
 
.review-card:nth-child(1) {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  background: linear-gradient(135deg, #00E5E6 7.29%,#00A8F7 2626.04%,#9A76F9 63.50%,#CC5EC2 100% );
 box-shadow:  0px 31px 0px -20px #533978, 0px 20px 0px -5px #7B54B2;

}
.review-card:nth-child(2) {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
box-shadow: 0px 36px 0px -25px #61337C, 0px 20px 0px -5px #9159B1;
}
.review-card:nth-child(3) {
  display: inline-block;
  color: #fff;
  border-radius: 15px;
background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
box-shadow: 0px 24px 0px -13px #732F26, 0px 20px 0px -5px #B95A4C;
}
.review-cards{
display: flex;
font-size: 24px;
gap: 98px;
justify-content: space-between;
}
.h1 h3 {
  border: solid #fff;
}
.order-conteiner{
  display: flexbox;
  background-size: cover;
  gap: 19px;
}
.order-section {
  background-image: url(/src/images/fon.png);
  background-repeat: no-repeat;
  height: 509px;
  max-width: 1400;
margin: 0 auto;
}
.select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.order-my-nike {
  color: #fff;
  border-radius: 3px;
  padding: 12px;
  text-decoration: none;
  border: none;
  font-size: 27px;
  line-height: 1;
  font-weight: 100px;
  background: #8e32c6;
}
.title-order {
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email {
  display: flex;
  gap: 60px;
  width: 690px;
  height: 60px;
  color: #959595;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  border-radius: 50px;
background: #FFF;
}
.contry {
  display: flex;
  gap: 60px;
  width: 580px;
  height: 50px;
  flex-shrink: 0;
  color: #959595;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
  border-radius: 50px;
}
.city {
  display: flex;
  gap: 60px;
  width: 580px;
  height: 50px;
  flex-shrink: 0;
  color: #959595;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  border-radius: 50px;
background: #FFF;
}
.adress {
  display: flex;
  gap: 60px;
  width: 580px;
  height: 50px;
  flex-shrink: 0;
  color: #959595;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  border-radius: 50px;
background: #FFF;
}
