
.fon {
    background-image: url(/src/images/фон\ main\ 1.png);
    width: 1440px;
    height: 606px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.header-conteiner {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.text {
    color: #fff;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bakground {
    background-image: url(/src/images/фон\ хедера.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 18px;
}
.bakground_conteiner {
width: 1007px;
margin: 0 auto;
}
.fon {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none; 
   
}
.fon-class{
    width: 50px;
    margin: 100px;
    padding: 100px;
    border-radius: 4px;
}
.fon-class:nth-child(1)::after {
    background-image: url(/src/images/Звёзды\ 1.png)
  }
  .fon-class:nth-child(2)::after {
    background-image: url(/img/car.webp);
  }
  .fon-class:nth-child(3)::after {
    background-image: url(/img/car.webp);
  }
  .p  {
color: #fff;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 10px;
border-radius: 15px;
background: linear-gradient(135deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.50%, #CC5EC2 100%);
box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
width: 30px 90px;
  }
  .Reviews {
    background-image: url(/src/images/Group\ 6\ 1.png);
    background-repeat: no-repeat;
    color: #fff;
    gap: 40;
    align-items: center;
    justify-content: center;
  }